@page "/routine"
@page "/routine/{RoutineId:int}"
@using System.Text.Json
@implements IDisposable
@inject RoutineState RoutineState
@inject HttpClient Http
@inject IRoutineService RoutineService;
@inject IExerciseService ExerciseService;
@inject BrowserService BrowserService;
@inject NavigationManager NavigationManager;
@inject IDialogService DialogService;
@inject DialogHelper DialogHelper;
@inject IGenericRepository<Routine> GenericRoutineRepo;


<MudText Typo="Typo.h3">Routine</MudText>
<MudExpansionPanels MultiExpansion="true">

@foreach (var routine in _routines)
{
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudText>@routine.Name <strong>@(routine.IsSelected ? "Selected" : "")</strong></MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <MudList Clickable="true">
            @foreach (var workoutTemplate in routine.WorkoutTemplates.OrderBy(x=> x.Order).ToList())
            {
                <MudListItem Text="@workoutTemplate.Name" OnClick="(() => OpenWorkoutTemplateDialog(routine, workoutTemplate))"/>
            }
            </MudList>
            <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="(() => OpenRoutineDialog(routine))">Modify Routine</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="(() => SelectRoutine(routine))">Select Routine</MudButton>
        </ChildContent>
    </MudExpansionPanel>
}
</MudExpansionPanels>

<MudButton Variant="Variant.Text" Color="Color.Primary"  OnClick="(() => OpenRoutineDialog(new Routine()))">Add new routine</MudButton>
           
@code {
    [Parameter]
    public int RoutineId { get; set; }

    private BrowserDimension _browserDimension;
    private List<Routine> _routines = new List<Routine>();

    private bool open;
    protected override async Task OnInitializedAsync()
    {
        _browserDimension = await BrowserService.GetDimensions();
        _routines = (await RoutineService.GetRoutinesAsync()).ToList();
        RoutineState.OnChange += StateHasChanged;

        var exercises = await Http.GetFromJsonAsync<List<Exercise>>("/_content/Adept.Blazor/sample-data/Exercises.json");
        foreach (var exercise in exercises)
        {
            await ExerciseService.AddExerciseAsync(exercise); 
        }
        var routine = await Http.GetFromJsonAsync<Routine>("/_content/Adept.Blazor/sample-data/Routine.json");
        await RoutineService.AddRoutineAsync(routine);
        _routines = (await RoutineService.GetRoutinesAsync()).ToList();
        await base.OnInitializedAsync();
    }


    public void Dispose()
    {
        RoutineState.OnChange -= StateHasChanged;
    }

    private async Task OpenRoutineDialog(Routine routine)
    {
        var newRoutine = await DialogHelper.OpenRoutineDialogAsync(routine);
        _routines.AddOrUpdateRoutine(newRoutine);
    }

    private async Task OpenWorkoutTemplateDialog(Routine routine, WorkoutTemplate workoutTemplate)
    {
        var newWorkoutTemplate = await DialogHelper.OpenWorkoutTemplateDialogAsync(workoutTemplate);
        routine.WorkoutTemplates.AddOrUpdateWorkoutTemplate(newWorkoutTemplate);
    }


    private async Task SelectRoutine(Routine routine)
    {
        await RoutineService.AddOrUpdateCurrentRoutine(routine.Id);
        RoutineState.SetSelectedRoutine(routine);
    }
    
}
